# Medidas de Resumo

In [48]:
import pandas as pd
import matplotlib.pyplot as plt

dict_medidas = {''
'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80 ],
'altura' : [160, 162, 165, 168, 172, 174, 174, 174, 176]                
}

In [49]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [50]:
dict_medidas = pd.DataFrame.from_dict(dict_medidas)

In [51]:
dict_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas de Posição

### Media

In [52]:
round(dict_medidas.idade.mean(), 2)

round(dict_medidas.altura.mean(), 2)

np.float64(169.44)

### Mediana

In [53]:
round(dict_medidas.idade.median(), 2)

round(dict_medidas.altura.median(), 2)

np.float64(172.0)

### Moda

In [54]:
round(dict_medidas.idade.mode(), 2)

0    25
Name: idade, dtype: int64

## Medidas de Dispersão

### Variancia

In [55]:
dict_medidas.var()

idade     509.944444
altura     34.777778
dtype: float64

### Desvio Padrão

In [56]:
dict_medidas.std()

idade     22.581950
altura     5.897269
dtype: float64

### Coeficiente de Variação

In [57]:
dict_medidas.std() / dict_medidas.mean() * 100

idade     54.052539
altura     3.480355
dtype: float64

## Medidas de Forma

## Assimetria

In [58]:
dict_medidas.skew()

idade     0.368109
altura   -0.598487
dtype: float64

## Curtose

In [59]:
dict_medidas.kurtosis()

idade    -1.134446
altura   -1.337264
dtype: float64

### Obter Medidas Estatisticas

In [60]:
dict_medidas.describe()

           idade      altura
count   9.000000    9.000000
mean   41.777778  169.444444
std    22.581950    5.897269
min    15.000000  160.000000
25%    25.000000  165.000000
50%    40.000000  172.000000
75%    58.000000  174.000000
max    80.000000  176.000000

## Corelação de Variaveis

In [61]:
dict_medidas.corr(method="pearson")

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [62]:
dict_medidas.corr(method="spearman")

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000